/* form.css */
.contact__container {

  .title-info {

    h2,
    p {

      margin: 0 auto;
      text-align: center;
    }
  }

  .subheading {
    font-weight: 800;
  }
}

#contact-form {
  padding: 1.4rem;
}

.form-container {
  width: 100vw;
  gap: 2rem;
}

.personal-details,
.project-details {
  flex: 1;
  padding-inline-end: 3%;
  margin: 0 auto;
}



.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  border-radius: 40px;
  padding-inline: 1.4rem
}

textarea {
  padding: 1rem
}


select {
  color: black;
}

select:invalid {
  color: gray;
}

.req {
  position: relative;

  &:not(:has(legend))::before {
    content: '*';
    color: red;
    position: absolute;
    left: 10px;
    top: 20%;
  }

  :has(legend, fieldset)::before {
    content: '*';
    color: red;
    position: absolute;
    left: -10px;
    top: 0%;
  }

}


fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-inline-end: 1rem;

  @media (width < 1000px) {
    text-align: center;
    justify-content: space-between;
  }
}

legend {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}


fieldset:has(.radio-group) {
  legend {
    margin-block-end: 1rem;
    font-weight: 600;
    font-size: 18px
  }

  label {
    font-size: 18px;
    font-weight: 500;
  }

  input {
    accent-color: black;
    transition: .3s all;
    margin-inline-end: .4rem;
  }

  input:checked {
    accent-color: var(--brand-color);
  }
}

.radio-group {
  margin-inline-end: 1rem;

  @media (width < 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input[type="checkbox"] {
  accent-color: var(--brand-color);
}


.form-group:has(input:not([type="radio"], [type="checkbox"]), select, textarea) {
  label {
    display: block;
    height: 0px;
    overflow: hidden;
  }
}

select {
  appearance: none;
  padding-inline-end: 4ch !important;
  -webkit-padding-end: 4ch !important;
  text-overflow: ellipsis;
}


.form-group:has(select) {
  position: relative;

  &::after {
    position: absolute;
    right: 1rem;
    top: 30%;
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjU2IDI1NiI+PHBhdGggZmlsbD0iIzE4MTgxOCIgZD0ibTIxNi40OSAxMDQuNDlsLTgwIDgwYTEyIDEyIDAgMCAxLTE3IDBsLTgwLTgwYTEyIDEyIDAgMCAxIDE3LTE3TDEyOCAxNTlsNzEuNTEtNzEuNTJhMTIgMTIgMCAwIDEgMTcgMTdaIi8+PC9zdmc+');
  }
}

#terms {
  margin-block-start: .3rem;
  margin-inline-end: .5rem;
}

.btn-submit,
.btn-upload {
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.btn-submit {
  /* background-color: #6a0dad; */
  color: white;
}

.btn-upload {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .form-container {
    flex-direction: column;
  }
}