/* details tabs */

.details-tab {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  display: block;
  order: 0;
  background: #ffffff00;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  margin: 0 auto;
  margin-block-end: 0.5rem;

  &::-webkit-details-marker {
    display: none;
  }
}

.details-tabs {
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.details-content {

  &>h1,
  h1+p {
    margin-inline-start: 10vw;
  }

  order: 1;
  width: 100%;
  /* governs the transition */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-out,
  max-height 0.3s ease-out;

  details {
    summary {
      font-weight: 600;
    }

    margin: 1.5rem;
  }

  justify-content: space-between;

  margin-block-end: 2rem;
}

.details-item {
  display: contents;
  overflow: hidden;

  transition: opacity 0.3s ease-out, max-height 0.3s ease-out;

  &[open] {
    &>.details-tab {
      color: var(--brand-color);
    }

    .details-content {
      opacity: 1;
      max-height: none;
    }

  }

  .details-content {
    max-height: 0;
    overflow: hidden;
  }
}

.gap-1 {
  gap: 1rem
}

.text__container {
  h3 {
    text-transform: initial;
    margin-inline-start: 0rem;
    text-align: left;
  }

  p {
    color: #737373;
    margin-block-end: 2rem;
    max-width: 48ch
  }
}

.screed-info__container {
  hr {
    padding: 12px;
    margin-inline: 22rem
  }

  img {
    width: auto;
    height: 200px;
  }

  .screed__item {
    width: 38ch;
    align-self: start;

    li {
      color: #737373
    }
  }

  .inline-margin {
    margin-inline: 10vw;
    max-width: none
  }

  @media (width < 800px) {
    flex-direction: column;
    justify-content: center;

    .subheading {
      text-align: center;
      margin: 0 auto
    }
  }
}