@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props";


.subheading {
  color: var(--brand-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-block-end: 1rem
}

h2 {
  margin-block-end: 1rem
}

.full-w {
  width: 100vw;
}

.grid-center {
  display: grid;
  place-items: center;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto
}

.margin-start {
  margin-inline-start: 10vw;
}

#app {
  width: 100vw;
  --brand-color: #D94E4E;
  --text-1: black;
  --text-2: #737373;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.width-full {
  width: 100vw
}

.bg-with-text__container {
  background-image: var(--image);
  background-size: cover;
  /* border: 3px solid var(--brand-color); */
  height: auto;
  align-self: stretch;
  color: white;
  flex-grow: 1;
  max-width: 50%;
  min-width: 45vw;

  min-height: 25vh;

  p {
    font-weight: 400;
  }

  button {
    font-size: 18px;
    margin-block: 2rem
  }

  .blur {
    padding-inline: 5rem;
    padding-block: 5rem;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: initial;
    backdrop-filter: initial;
    height: 100%;
  }

  @media (width < 800px) {
    justify-content: center;
    max-width: 100vw;
  }

  &:empty {
    min-height: 20rem
  }

  &:not(:empty) {
    max-height: none;
  }
}

.testimonials__text-container {

  p,
  li {
    max-width: 40ch
  }
}

.header {
  background-color: hsla(0.0025, 5.7063%, 13.105%);
  color: white;
  font-size: 18px;
  display: block;

  a {
    color: white;
    border-bottom-width: 4px;

    &.active-link {
      border-image: linear-gradient(90deg, var(--brand-color) 0%, var(--brand-color) 50%, rgba(245, 245, 245, 0) 50%) 1;
    }

    &:not(.active-link) {
      border-color: transparent
    }
  }

  @media (width < 768px) {
    flex-direction: column;
    justify-content: flex-start;
    height: 50px;
    overflow: hidden;
    transition: .3s all;

    &:has(input:checked) {
      overflow: initial;
      height: 19ch;
    }
  }
}

.nav__container {
  input[type="checkbox"] {
    display: none
  }

  label {
    display: none
  }

  @media (width < 768px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-inline-start: 2rem;

    label {
      display: initial
    }
  }

}

.nav__container {
  padding-block: 1rem;
  width: 80%;

  div {
    * {
      margin-inline-end: 2rem
    }
  }
}

button {
  background-color: var(--brand-color);
  color: white;
  padding-inline: 1.5rem;
  padding-block: .5rem;
  border-radius: 30px
}

.text-brand {
  color: var(--brand-color)
}

.center {
  margin: 0 auto
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.block-padding-lg {
  padding-block: 4rem;
}

.blur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.7);
}

.hero {
  background-image: url('/hero.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  width: 100vw;
  margin-block-end: 2rem;

  h1 {
    font-size: 48px;
    font-weight: 700
  }
}

.contact-bg {
  background-image: url('/ufhs-hero-grid.jpg');
  height: 300px;

  .blur {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;

    >* {
      margin-block-end: 2rem;
    }
  }

  p {
    text-wrap: balance;
  }
}

.hero__content-container {
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  padding-block: 8rem
}

.hero__content {
  width: 60vw;
  text-align: center;

  p {
    font-size: 18px;
  }
}

.intro {}

.intro__content-container {
  .bg-with-text__container {
    background-position-y: center;
  }

  /* flex-wrap: wrap-reverse; */
  gap: 2rem;
  --bottom-padding: 3rem;

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: var(--bottom-padding);

    span {
      text-decoration: underline;
      text-underline-offset: 12px;
      text-decoration-color: var(--brand-color);
      text-decoration-thickness: 6px;
    }
  }

  ul {
    font-size: 22px;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0px;

    li {
      margin-left: -10px;
      width: 25rem;

      &::before {
        content: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2222%22%20viewBox%3D%220%200%2030%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.5%207.73244L10.9507%2018.3087L27.5%202.30872%22%20stroke%3D%22%23D94E4E%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
        padding-inline-end: 2rem;
      }

      padding-bottom: 10px;

    }
  }

  .intro__words-container {
    width: 40ch;

    p {
      color: var(--text-2);
    }
  }
}

.letters {
  font-size: 58px;
  line-height: 50px;
}

.suppliers__container {
  margin-block: 2rem;
}

.suppliers__inner {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  background-color: white;
  padding-inline: 1rem;
  padding-block: 1rem;

  img {
    filter: grayscale(1);
    object-fit: cover;
    max-width: 120px;
    align-self: stretch;
    max-height: 120px;
  }
}

.services-description__container {
  margin-inline: 10vw;

  @media (width < 768px) {
    margin-inline: 2vw;
  }

  p {
    color: var(--text-2);
    max-inline-size: 120ch;
  }
}

.offerings__container {
  margin-block: 4rem;


  .offerings__item {
    svg {
      height: 240px;
    }

    margin-bottom: 1rem;
    min-width: 30%;
    text-align: center;

    h4 {
      font-size: 24px
    }

    p {
      max-width: 20ch;
      font-size: 18px;
      margin: 0 auto;
    }

    svg {
      max-height: 70px;
      margin: 0 auto;
    }

    text-align: center;

    button {
      transition: all .3s;
      background-color: white;
      border: 2px solid var(--brand-color);
      color: var(--brand-color);
      width: 60%;
      margin: 0 auto;
      margin-block-start: 1rem;

      &:hover {
        background-color: var(--brand-color);
        border: 2px solid white;
        color: white;
      }
    }
  }
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col {
  flex-direction: column
}

.testimonials {
  margin-block-end: 3rem;
}

.news {
  gap: 2%;
  margin-block-end: 10rem;

  .bg-with-text__container {
    background-position-x: 20%;

    .blur {
      background-color: rgba(0, 0, 0, 0.0);
    }

    margin-block-end: 1rem;
  }
}

.article-preview__item {
  margin-block-end: 1rem;

  .subheading {
    text-transform: initial;
  }
}

.instagram__container {
  text-align: center;
  width: 100%;
  margin-block-end: 3rem;

  img {
    width: 200px;
    object-fit: cover;
    height: 200px
  }

  button {
    margin-block: 1rem;
  }
}

footer {
  background: hsla(358.87, 5.9386%, 12.452%);
  color: white;


  .footer__content-container {
    padding-block-start: 4rem;
  }

  .footer__main-content {
    @media (width < 900px) {
      flex-direction: column;
      justify-content: center;
      margin-inline-start: 2rem;
    }

    .footer__item {
      margin-block-end: 2rem
    }
  }

  h3 {
    font-size: 1.8rem;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;

    li {
      margin-inline: 0px;
    }
  }

  .footer__bottom-content {
    padding-block-end: 5rem;

    @media (width < 900px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
}

.image-carousel {
  margin-block: 1rem;
  margin-block-end: 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  --image-size: 400px;
  --justify-breakpoint: calc(var(--image-size) * 3);

  img {
    height: calc(var(--image-size) * 1);
    width: calc(var(--image-size) * 1);
    object-fit: cover;
  }

  @media (width < 1300px) {
    justify-content: center;
  }
}

.image-carousel.height-thin {
  img {
    height: calc(var(--image-size) * .6);
  }
}

/* about page */
.about__intro {
  padding-inline: 10vw;

  h1 {
    padding-top: 4rem
  }

  h2 {
    text-align: initial;
  }

  p {
    color: rgba(115, 115, 115, 1);
  }
}

.expertise {
  margin-block-end: 3rem;

  .bg-with-text__container {
    flex-grow: 1;
    min-width: 45vw;
    min-height: 25vh
  }

  h2,
  p {
    max-width: 40ch
  }

  h2 {
    text-align: initial;
  }

  p {
    color: rgba(115, 115, 115, 1);
  }

  .subheading {
    text-transform: initial;
    color: var(--brand-color);
    display: flex;
    align-items: center;

    &::before {
      content: '⊙';
      color: currentColor;
      padding-block-end: 5px;
      padding-inline: 3px;
      font-size: 22px;
      font-weight: bolder;
    }
  }
}

.expertise:last-of-type {
  justify-content: space-between;
  margin-block-end: 3rem;
}

.way-we-work {

  h2,
  .subheading {
    margin: 0 auto;
    text-align: center;
  }

  img {
    height: 300px
  }
}

.social {
  .testimonials__text-container {
    padding-inline-start: 1rem;
  }

  svg {
    fill: var(--brand-color);
    margin-inline: .2rem;
  }

  .stats__item {
    width: min-content;
    text-align: center;

    p:nth-of-type(2n) {
      color: var(--brand-color);
      font-size: 28px;
      font-weight: bolder
    }
  }
}

*:has(>.bg-with-text__container) {
  gap: 2rem;
  justify-content: space-between;
  --margin-swap: 10vw;

  h4 {
    margin-block-end: 1rem;
  }

  p.subheading {
    margin-inline-start: 1rem;
  }

  &:not(.row-reverse) {
    margin-inline-end: var(--margin-swap);
  }

  &:is(.row-reverse) {
    margin-inline-start: var(--margin-swap);
  }

  @media (width < 800px) {
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;

    .bg-with-text__container:empty {
      max-height: 30vh;
      background-position: center center;
      padding-inline-start: 0rem;
    }

    --margin-swap: 0rem;
  }
}

.commisioning-tab {
  .bg-with-text__container {
    background-image: var(--image);
  }

  .bg-with-text__container {
    background-image: var(--image);
  }
}